# Impact of Trump super-spreader rallies on COVID-19 deaths in United States #

This project investigates the possible effects of Trump campaign rallies on the spread of COVID-19 during the summer and early fall of 2020.

## Background and Motivation ##

Prior to May 25, 2020, COVID-19 deaths in the United States were falling precipitously. On May 25th, that descent slowed dramatically, and then, around the beginning of July, reversed itself, starting a second wave of COVID-19 deaths in the United States. The number of deaths in this second wave, 125K, now exceeds that of the first wave, 100K.

The date, May 25, 2020, is significant in that it is the date on which George Floyd died while in police custody in Minneapolis, MN. Subsequent to Floyd's death, protests occurred in over 2,000 cities in the United States. It has been suggested that the George Floyd Protests might have contributed to triggering the second wave of COVID-19. 

This "hypothesis" is confounded, however, by summer political campaigning in the run up to the 2020 Elections. In particular, President Trump was notable for holding campaign rallies in which the president did not follow normative behavior to control COVID-19 infections and neither did many of the rally attendees--possibly following the president's lead. These became known as _super-spreader rallies_. Some news agencies have reported that COVID-19 infections spiked in the areas where these rallies had been recently held. However, I have not found a _systematic_ investigation of whether and to what extent the rallies were correlated with COVID-19 spread.

_**The yellow arrows in the two graphs below identify May 26, 2020, that is, the day after George Floyd died while in police custody.**_

### COVID-19 deaths: Seven day moving average ###

![](viz/2020-10-23_original-screen-capture.png)

### COVID-19 deaths: Cumulative ###

![](viz/2020-10-23_accumulated-deaths-anno.png)

## Research Questions and Hypothesis ##

The key question is whether it is possible to identify increases in mortality from COVID-19 subsequent to President Trump's rallies and also relatively proximal to where the rallies were held. And further, to see if these increases are greater than we would expect when compared to changes in COVID-19 mortality during the same times periods in other locations.

My hypothesis is that I _can_ identify increases in COVID-19 mortality associated with President Trump's rallies and that these increases are greater than we would expect based on contemporaneous COVID-19 mortality in other areas.

## Data ##

For data that indicates the spread of COVID-19, I will use the _COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University_ hosted on GitHub at the following URL:

>  <https://github.com/CSSEGISandData/COVID-19>

For data on President Trump's campaign rallies, I will use the list maintained on Wikipedia at the following URL:

>  <https://en.wikipedia.org/wiki/List_of_post-election_Donald_Trump_rallies#2020_campaign_rallies>

## Methodology ##

The Johns-Hopkins data tracks COVID-19 deaths per county in the United States. Using geocoding, I can convert the City-State locations for President Trump's rallies into county locations. I should then be able to gather statistics for each of the counties which are also supported by the Johns-Hopkins data.

I can also gather similar statistics for a set of counties where President Trump did _not_ hold rallies and use these as something analogous to _controls_.

Specifically, the questions that I will investigate are, for each of the Trump rallies:

- What was the change in the seven-day moving average for COVID-19 deaths in the 60 days _**before**_ the date of the Trump rally in that county--and in each of the control counties.
- What was the change in the seven-day moving average for COVID-19 deaths in the 60 days _**after**_ the date of the Trump rally in that county--and in each of the control counties.

- What was the total accumulated COVID-19 deaths in the 60 days _**before**_ the date of the Trump rally in that county--and in each of the control counties.
- What was the total accumulated COVID-19 deaths in the 60 days _**after**_ the date of the Trump rally in that county--and in each of the control counties.

And also:

- Compare summary statistics (mean, median, std) for accumulated COVID-19 deaths in the Trump counties vs the control counties.

To be clear, I will look at COVID-19 deaths in the control counties before and after the date of each Trump rally _even though no Trump rally occurred in that county_.

## Unknowns ##

I have, so far, identified a couple unknowns that could affect the success of this investigation.

One unknown is that Trump's rallies were not always held in an urban center. For example, some were held at airports. The president would fly in, speak at a rally at the airport, and then fly out. **In these cases, it is not certain where the attendees originated from; that is, we can't assume that they came from the nearest urban center.** 

To take an example, on September 3, 2020, Trump spoke at a rally at Arnold Palmer Regional Airport outside Latrobe, PA. However, we can't necessarily infer from this that all the attendees were from Latrobe; they might have traveled in from out of area. More importantly, we don't know where the attendees traveled _to_ after the rally. 

(Actually, this issue, that attendees might reside outside the area where the rally was held, applies to some degree even for rallies held inside city centers.)

**Another unknown is that the locations of Trump's rallies are not uniformly distributed across the United States.** This could be for reasons such as campaign strategy. But in any case, regional differences between areas that hosted the rallies and those that didn't could introduce bias into the data.

In [1080]:
import os
import datetime
import re
import geocoder
import pandas as pd

In [1081]:
#
# Note that the BING_API_KEY variable needs to be set with your API key
# in the console window from which you launch this Jupyter notebook.
#
g = geocoder.bing( 'Kenosha,s WI', key=os.environ[ 'BING_API_KEY' ] )

print( g.json[ 'raw' ][ 'address' ][ 'adminDistrict2' ] )

Kenosha County

In [1082]:
trump_rallies = pd.read_csv('data/trump-rallies.csv', 
        sep=',', 
        comment='#',
        skipinitialspace=True,
        header=0,
        na_values='?')

In [1083]:
trump_rallies.columns

Index(['Date', 'City', 'State', 'County'], dtype='object')

In [1084]:
trump_rallies.head()

         Date     City State  County
0  2020-06-20    Tulsa    OK     NaN
1  2020-06-23  Phoenix    AZ     NaN
2  2020-08-17  Mankato    MN     NaN
3  2020-08-17  Oshkosh    WI     NaN
4  2020-08-18     Yuma    AZ     NaN

In [1085]:
trump_rallies.tail()

          Date           City State  County
62  2020-11-02   Fayetteville    NC     NaN
63  2020-11-02       Scranton    PA     NaN
64  2020-11-02  Traverse City    MI     NaN
65  2020-11-02        Kenosha    WI     NaN
66  2020-11-02   Grand Rapids    MI     NaN

In [1086]:
trump_rallies.shape

(67, 4)

In [1087]:
target_location = trump_rallies.loc[ 0, "City" ] + ", " + trump_rallies.loc[ 0, "State" ]
target_location

'Tulsa, OK'

In [1088]:
g = geocoder.bing( target_location, key=os.environ[ 'BING_API_KEY' ] )
g.json[ 'raw' ][ 'address' ][ 'adminDistrict2' ]

'Tulsa County'

In [1089]:
geocoder.bing( 'The Villages' + ", " + 'FL', key=os.environ[ 'BING_API_KEY' ] ).json[ 'raw' ]

{'__type': 'Location:http://schemas.microsoft.com/search/local/ws/rest/v1',
 'bbox': [28.821828842163086,
  -82.04051208496094,
  28.982059478759766,
  -81.95328521728516],
 'name': 'The Villages, FL',
 'point': {'type': 'Point',
  'coordinates': [28.93280792236328, -81.95913696289062]},
 'address': {'adminDistrict': 'FL',
  'countryRegion': 'United States',
  'formattedAddress': 'The Villages, FL',
  'locality': 'The Villages'},
 'confidence': 'High',
 'entityType': 'PopulatedPlace',
 'geocodePoints': [{'type': 'Point',
   'coordinates': [28.93280792236328, -81.95913696289062],
   'calculationMethod': 'Rooftop',
   'usageTypes': ['Display']}],
 'matchCodes': ['Good']}

In [1090]:
geocoder.bing( 'The Villages' + ", " + 'FL', key=os.environ[ 'BING_API_KEY' ] ).json[ 'raw' ][ 'address' ]

{'adminDistrict': 'FL',
 'countryRegion': 'United States',
 'formattedAddress': 'The Villages, FL',
 'locality': 'The Villages'}

In [1091]:
def gcode( row ):
    g = geocoder.bing( row[ 'City' ] + ", " + row[ 'State' ], key=os.environ[ 'BING_API_KEY' ] )
    if 'adminDistrict2' in g.json[ 'raw' ][ 'address' ]:
        county = g.json[ 'raw' ][ 'address' ][ 'adminDistrict2' ] 
        return( county )
    else:
        return( 'Sumpter County' )

In [1092]:
trump_rallies[ 'County' ] = trump_rallies.apply( gcode, axis = 1 )

In [1093]:
trump_rallies.loc[ : , 'County' ].head()

0         Tulsa County
1      Maricopa County
2    Blue Earth County
3     Winnebago County
4          Yuma County
Name: County, dtype: object

In [1094]:
trump_rallies.loc[ : , 'County' ].tail()

62        Cumberland County
63        Lackawanna County
64    Grand Traverse County
65           Kenosha County
66              Kent County
Name: County, dtype: object

# Read time series data from Johns-Hopkins COVID-19 repository #

In [1095]:
covid_19_time_series_by_county = pd.read_csv('data/time_series_covid19_deaths_US.csv', 
        sep=',', 
        comment='#',
        skipinitialspace=True,
        header=0,
        na_values='?')

In [1096]:
covid_19_time_series_by_county.shape

(3340, 324)

In [1097]:
covid_19_time_series_by_county.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,39,39,39,39,39,39,41,42,42,42
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,84,84,84,84,84,84,98,98,98,98
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,10,10,10,10,10,10,10,10,10,10
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,18,18,17,17,17,17,17,17,17,17
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,35,35,36,36,36,36,39,40,40,40

In [1098]:
covid_19_time_series_by_county.tail()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,2,2,2,2,2,2,2,2,2,2
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,4,4,4,4,4,4,4,4,4,4
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,7,7,7,7,7,7,8,8,8,8
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,0,0,0,0,1,1,1,1,1,1

Most of the columns are the COVID-19 deaths for a given date. Show the non-date columns.

In [1099]:
covid_19_time_series_by_county.columns.array[ 0:12 ]

<PandasArray>
[           'UID',           'iso2',           'iso3',          'code3',
           'FIPS',         'Admin2', 'Province_State', 'Country_Region',
            'Lat',          'Long_',   'Combined_Key',     'Population']
Length: 12, dtype: object

The `Admin2` column contains the county. There are many duplicates in that column; we can't merge on it.

In [1100]:
len( covid_19_time_series_by_county.loc[ :, 'Admin2' ] )

3340

In [1101]:
len( covid_19_time_series_by_county.loc[ :, 'Admin2' ].unique() )

1979

The `Combined_Key` column provides a _primary key_ that uniquely identifies the row.

In [1102]:
covid_19_time_series_by_county.loc[ :, 'Combined_Key' ]

0          Autauga, Alabama, US
1          Baldwin, Alabama, US
2          Barbour, Alabama, US
3             Bibb, Alabama, US
4           Blount, Alabama, US
                 ...
3335         Teton, Wyoming, US
3336         Uinta, Wyoming, US
3337    Unassigned, Wyoming, US
3338      Washakie, Wyoming, US
3339        Weston, Wyoming, US
Name: Combined_Key, Length: 3340, dtype: object

Remove unneeded columns.

In [1103]:
covid_19_time_series_by_county.drop( [ 'UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State', 'Country_Region' ] , axis = 1, inplace = True )

In [1104]:
covid_19_time_series_by_county.head()

,Lat,Long_,Combined_Key,Population,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20
0,32.539527,-86.644082,"Autauga, Alabama, US",55869,0,0,0,0,0,0,...,39,39,39,39,39,39,41,42,42,42
1,30.727750,-87.722071,"Baldwin, Alabama, US",223234,0,0,0,0,0,0,...,84,84,84,84,84,84,98,98,98,98
2,31.868263,-85.387129,"Barbour, Alabama, US",24686,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
3,32.996421,-87.125115,"Bibb, Alabama, US",22394,0,0,0,0,0,0,...,18,18,17,17,17,17,17,17,17,17
4,33.982109,-86.567906,"Blount, Alabama, US",57826,0,0,0,0,0,0,...,35,35,36,36,36,36,39,40,40,40

# Synthesize a key for the Trump rallies dataframe to use for merging #

Read in a dataset that maps from state names to state abbreviations.

In [1105]:
state_abbr = pd.read_csv('data/state-abbr.csv', 
        sep=',', 
        comment='#',
        skipinitialspace=True,
        header=0,
        na_values='?')

In [1106]:
state_abbr.head()

        State   Abbr
0     Alabama  AL
1      Alaska  AK
2     Arizona  AZ
3    Arkansas  AR
4  California  CA

In [1107]:
state_abbr.tail()

            State   Abbr
45       Virginia  VA
46     Washington  WA
47  West Virginia  WV
48      Wisconsin  WI
49        Wyoming  WY

Create a dictionary from the two columns of our state/abbr dataframe.

In [1108]:
map_abbr_state = dict( zip( state_abbr.Abbr.str.strip(), state_abbr.State.str.strip() ) )

In [1109]:
map_abbr_state.keys()

dict_keys(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'])

In [1110]:
map_abbr_state[ 'VA' ]

'Virginia'

In [1111]:
def create_combined_key_for_trump( row ):
    combined = row[ 'County' ][ 0:-6 ].rstrip() + ", " + map_abbr_state[ row[ 'State' ] ] + ", " + 'US'
    return combined

trump_rallies[ 'Combined_Key' ] = trump_rallies.apply( create_combined_key_for_trump, axis = 1 )

In [1112]:
trump_rallies[ 'Combined_Key' ].head()

0          Tulsa, Oklahoma, US
1        Maricopa, Arizona, US
2    Blue Earth, Minnesota, US
3     Winnebago, Wisconsin, US
4            Yuma, Arizona, US
Name: Combined_Key, dtype: object

In [1113]:
trump_rallies.head()

         Date     City State             County               Combined_Key
0  2020-06-20    Tulsa    OK       Tulsa County        Tulsa, Oklahoma, US
1  2020-06-23  Phoenix    AZ    Maricopa County      Maricopa, Arizona, US
2  2020-08-17  Mankato    MN  Blue Earth County  Blue Earth, Minnesota, US
3  2020-08-17  Oshkosh    WI   Winnebago County   Winnebago, Wisconsin, US
4  2020-08-18     Yuma    AZ        Yuma County          Yuma, Arizona, US

# Merge Trump rallies data with COVID-19 data #

In [1114]:
trump_rallies = trump_rallies.merge( covid_19_time_series_by_county, how = "left", on = "Combined_Key")

In [1115]:
trump_rallies.columns

Index(['Date', 'City', 'State', 'County', 'Combined_Key', 'Lat', 'Long_',
       'Population', '1/22/20', '1/23/20',
       ...
       '11/19/20', '11/20/20', '11/21/20', '11/22/20', '11/23/20', '11/24/20',
       '11/25/20', '11/26/20', '11/27/20', '11/28/20'],
      dtype='object', length=320)

In [1116]:
trump_rallies.shape

(67, 320)

In [1117]:
trump_rallies.head()

,Date,City,State,County,Combined_Key,Lat,Long_,Population,1/22/20,1/23/20,...,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20
0,2020-06-20,Tulsa,OK,Tulsa County,"Tulsa, Oklahoma, US",36.119396,-95.940139,651552.0,0.0,0.0,...,246.0,248.0,254.0,254.0,257.0,258.0,260.0,260.0,264.0,265.0
1,2020-06-23,Phoenix,AZ,Maricopa County,"Maricopa, Arizona, US",33.348359,-112.491815,4485414.0,0.0,0.0,...,3850.0,3878.0,3890.0,3896.0,3896.0,3922.0,3927.0,3955.0,3966.0,3974.0
2,2020-08-17,Mankato,MN,Blue Earth County,"Blue Earth, Minnesota, US",44.035542,-94.066998,67653.0,0.0,0.0,...,12.0,11.0,11.0,11.0,11.0,11.0,12.0,12.0,13.0,14.0
3,2020-08-17,Oshkosh,WI,Winnebago County,"Winnebago, Wisconsin, US",44.068869,-88.644771,171907.0,0.0,0.0,...,102.0,105.0,105.0,105.0,105.0,108.0,108.0,110.0,110.0,111.0
4,2020-08-18,Yuma,AZ,Yuma County,"Yuma, Arizona, US",32.768957,-113.906667,213787.0,0.0,0.0,...,369.0,371.0,375.0,375.0,375.0,377.0,378.0,380.0,380.0,388.0

In [1118]:
trump_rallies.tail(10)

,Date,City,State,County,Combined_Key,Lat,Long_,Population,1/22/20,1/23/20,...,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20
57,2020-11-01,Washington,MI,Macomb County,"Macomb, Michigan, US",42.691584,-82.927528,873972.0,0.0,0.0,...,1193.0,1203.0,1213.0,1213.0,1217.0,1232.0,1236.0,1236.0,1253.0,1267.0
58,2020-11-01,Dubuque,IA,Dubuque County,"Dubuque, Iowa, US",42.468153,-90.881819,97311.0,0.0,0.0,...,89.0,89.0,90.0,90.0,90.0,90.0,91.0,91.0,91.0,91.0
59,2020-11-01,Hickory,NC,Catawba County,"Catawba, North Carolina, US",35.662111,-81.213262,159551.0,0.0,0.0,...,76.0,79.0,80.0,80.0,80.0,84.0,85.0,85.0,85.0,85.0
60,2020-11-01,Rome,GA,Floyd County,"Floyd, Georgia, US",34.262683,-85.215774,98498.0,0.0,0.0,...,73.0,74.0,75.0,75.0,75.0,77.0,78.0,81.0,82.0,82.0
61,2020-11-01,Opa-locka,FL,Miami-Dade County,"Miami-Dade, Florida, US",25.611236,-80.551706,2716940.0,0.0,0.0,...,3738.0,3746.0,3753.0,3766.0,3782.0,3789.0,3792.0,3792.0,3799.0,3823.0
62,2020-11-02,Fayetteville,NC,Cumberland County,"Cumberland, North Carolina, US",35.047621,-78.826232,335509.0,0.0,0.0,...,109.0,109.0,109.0,110.0,110.0,111.0,112.0,112.0,115.0,115.0
63,2020-11-02,Scranton,PA,Lackawanna County,"Lackawanna, Pennsylvania, US",41.435647,-75.603792,209674.0,0.0,0.0,...,229.0,230.0,230.0,230.0,230.0,230.0,231.0,231.0,231.0,231.0
64,2020-11-02,Traverse City,MI,Grand Traverse County,"Grand Traverse, Michigan, US",44.695656,-85.555852,93088.0,0.0,0.0,...,17.0,17.0,18.0,18.0,18.0,19.0,19.0,19.0,19.0,19.0
65,2020-11-02,Kenosha,WI,Kenosha County,"Kenosha, Wisconsin, US",42.576394,-88.040517,169561.0,0.0,0.0,...,122.0,123.0,125.0,126.0,127.0,134.0,142.0,144.0,145.0,145.0
66,2020-11-02,Grand Rapids,MI,Kent County,"Kent, Michigan, US",43.031977,-85.549346,656955.0,0.0,0.0,...,277.0,285.0,292.0,292.0,301.0,312.0,312.0,312.0,336.0,344.0

# Derive a table that has only the COVID-19 deaths by rally location #

Drop columns that are unecessary for this table

In [1119]:
covid_19_deaths_by_rally = trump_rallies.drop( ["Date", "City", "State", "County", "Lat", "Long_", "Population" ], axis = 1 )
covid_19_deaths_by_rally.head()

,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20
0,"Tulsa, Oklahoma, US",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,246.0,248.0,254.0,254.0,257.0,258.0,260.0,260.0,264.0,265.0
1,"Maricopa, Arizona, US",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3850.0,3878.0,3890.0,3896.0,3896.0,3922.0,3927.0,3955.0,3966.0,3974.0
2,"Blue Earth, Minnesota, US",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,11.0,11.0,11.0,11.0,11.0,12.0,12.0,13.0,14.0
3,"Winnebago, Wisconsin, US",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,102.0,105.0,105.0,105.0,105.0,108.0,108.0,110.0,110.0,111.0
4,"Yuma, Arizona, US",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,369.0,371.0,375.0,375.0,375.0,377.0,378.0,380.0,380.0,388.0

Swap the rows and columns

In [1120]:
covid_19_deaths_by_rally = covid_19_deaths_by_rally.transpose()
covid_19_deaths_by_rally.head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,66
Combined_Key,"Tulsa, Oklahoma, US","Maricopa, Arizona, US","Blue Earth, Minnesota, US","Winnebago, Wisconsin, US","Yuma, Arizona, US","Lackawanna, Pennsylvania, US","Rockingham, New Hampshire, US","Westmoreland, Pennsylvania, US","Forsyth, North Carolina, US","Saginaw, Michigan, US",...,"Macomb, Michigan, US","Dubuque, Iowa, US","Catawba, North Carolina, US","Floyd, Georgia, US","Miami-Dade, Florida, US","Cumberland, North Carolina, US","Lackawanna, Pennsylvania, US","Grand Traverse, Michigan, US","Kenosha, Wisconsin, US","Kent, Michigan, US"
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Use the first row as the column labels

In [1121]:
covid_19_deaths_by_rally.columns = covid_19_deaths_by_rally.iloc[0]
covid_19_deaths_by_rally.drop(covid_19_deaths_by_rally.index[0], inplace = True )
covid_19_deaths_by_rally.head()

Combined_Key,"Tulsa, Oklahoma, US","Maricopa, Arizona, US","Blue Earth, Minnesota, US","Winnebago, Wisconsin, US","Yuma, Arizona, US","Lackawanna, Pennsylvania, US","Rockingham, New Hampshire, US","Westmoreland, Pennsylvania, US","Forsyth, North Carolina, US","Saginaw, Michigan, US",...,"Macomb, Michigan, US","Dubuque, Iowa, US","Catawba, North Carolina, US","Floyd, Georgia, US","Miami-Dade, Florida, US","Cumberland, North Carolina, US","Lackawanna, Pennsylvania, US","Grand Traverse, Michigan, US","Kenosha, Wisconsin, US","Kent, Michigan, US"
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Fix up name of first column

In [1122]:
covid_19_deaths_by_rally.columns.name = ""
covid_19_deaths_by_rally.head()

,"Tulsa, Oklahoma, US","Maricopa, Arizona, US","Blue Earth, Minnesota, US","Winnebago, Wisconsin, US","Yuma, Arizona, US","Lackawanna, Pennsylvania, US","Rockingham, New Hampshire, US","Westmoreland, Pennsylvania, US","Forsyth, North Carolina, US","Saginaw, Michigan, US",...,"Macomb, Michigan, US","Dubuque, Iowa, US","Catawba, North Carolina, US","Floyd, Georgia, US","Miami-Dade, Florida, US","Cumberland, North Carolina, US","Lackawanna, Pennsylvania, US","Grand Traverse, Michigan, US","Kenosha, Wisconsin, US","Kent, Michigan, US"
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1123]:
covid_19_deaths_by_rally.tail()

,"Tulsa, Oklahoma, US","Maricopa, Arizona, US","Blue Earth, Minnesota, US","Winnebago, Wisconsin, US","Yuma, Arizona, US","Lackawanna, Pennsylvania, US","Rockingham, New Hampshire, US","Westmoreland, Pennsylvania, US","Forsyth, North Carolina, US","Saginaw, Michigan, US",...,"Macomb, Michigan, US","Dubuque, Iowa, US","Catawba, North Carolina, US","Floyd, Georgia, US","Miami-Dade, Florida, US","Cumberland, North Carolina, US","Lackawanna, Pennsylvania, US","Grand Traverse, Michigan, US","Kenosha, Wisconsin, US","Kent, Michigan, US"
11/24/20,258,3922,11,108,377,230,105,172,158,221,...,1232,90,84,77,3789,111,230,19,134,312
11/25/20,260,3927,12,108,378,231,105,179,163,223,...,1236,91,85,78,3792,112,231,19,142,312
11/26/20,260,3955,12,110,380,231,105,186,163,223,...,1236,91,85,81,3792,112,231,19,144,312
11/27/20,264,3966,13,110,380,231,106,187,164,225,...,1253,91,85,82,3799,115,231,19,145,336
11/28/20,265,3974,14,111,388,231,108,192,164,225,...,1267,91,85,82,3823,115,231,19,145,344

In [1124]:
date_index = covid_19_deaths_by_rally.index
date_index

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '11/19/20', '11/20/20', '11/21/20', '11/22/20', '11/23/20', '11/24/20',
       '11/25/20', '11/26/20', '11/27/20', '11/28/20'],
      dtype='object', length=312)

In [1125]:
def convert_to_iso( string ):
    m = re.match( '(\d*)/(\d*)/(\d*)', string )
    my_date = datetime.date( int( '20' + m.group( 3 ) ), int( m.group( 1 ) ), int( m.group( 2 ) ) )
    return( my_date.isoformat() )

iso_index = date_index.map( convert_to_iso )
covid_19_deaths_by_rally.index = iso_index

In [1126]:
covid_19_deaths_by_rally.head()

,"Tulsa, Oklahoma, US","Maricopa, Arizona, US","Blue Earth, Minnesota, US","Winnebago, Wisconsin, US","Yuma, Arizona, US","Lackawanna, Pennsylvania, US","Rockingham, New Hampshire, US","Westmoreland, Pennsylvania, US","Forsyth, North Carolina, US","Saginaw, Michigan, US",...,"Macomb, Michigan, US","Dubuque, Iowa, US","Catawba, North Carolina, US","Floyd, Georgia, US","Miami-Dade, Florida, US","Cumberland, North Carolina, US","Lackawanna, Pennsylvania, US","Grand Traverse, Michigan, US","Kenosha, Wisconsin, US","Kent, Michigan, US"
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Remove the COVID-19 deaths from the Trump rallies table #

In [1127]:
trump_rallies.drop( trump_rallies.iloc[:, 8:], axis = 1, inplace = True )
trump_rallies.head()

,Date,City,State,County,Combined_Key,Lat,Long_,Population
0,2020-06-20,Tulsa,OK,Tulsa County,"Tulsa, Oklahoma, US",36.119396,-95.940139,651552.0
1,2020-06-23,Phoenix,AZ,Maricopa County,"Maricopa, Arizona, US",33.348359,-112.491815,4485414.0
2,2020-08-17,Mankato,MN,Blue Earth County,"Blue Earth, Minnesota, US",44.035542,-94.066998,67653.0
3,2020-08-17,Oshkosh,WI,Winnebago County,"Winnebago, Wisconsin, US",44.068869,-88.644771,171907.0
4,2020-08-18,Yuma,AZ,Yuma County,"Yuma, Arizona, US",32.768957,-113.906667,213787.0

In [1128]:
trump_rallies[ trump_rallies.Date == "2020-08-17" ]

,Date,City,State,County,Combined_Key,Lat,Long_,Population
2,2020-08-17,Mankato,MN,Blue Earth County,"Blue Earth, Minnesota, US",44.035542,-94.066998,67653.0
3,2020-08-17,Oshkosh,WI,Winnebago County,"Winnebago, Wisconsin, US",44.068869,-88.644771,171907.0

In [1129]:
trump_rallies.loc[ 2, 'Combined_Key' ]

'Blue Earth, Minnesota, US'

In [1130]:
covid_19_deaths_by_rally_no_accumulate = covid_19_deaths_by_rally.diff(periods=1, axis=0)

In [1131]:
covid_19_deaths_by_rally_no_accumulate.tail()

,"Tulsa, Oklahoma, US","Maricopa, Arizona, US","Blue Earth, Minnesota, US","Winnebago, Wisconsin, US","Yuma, Arizona, US","Lackawanna, Pennsylvania, US","Rockingham, New Hampshire, US","Westmoreland, Pennsylvania, US","Forsyth, North Carolina, US","Saginaw, Michigan, US",...,"Macomb, Michigan, US","Dubuque, Iowa, US","Catawba, North Carolina, US","Floyd, Georgia, US","Miami-Dade, Florida, US","Cumberland, North Carolina, US","Lackawanna, Pennsylvania, US","Grand Traverse, Michigan, US","Kenosha, Wisconsin, US","Kent, Michigan, US"
2020-11-24,1,26,0,3,2,0,0,5,1,13,...,15,0,4,2,7,1,0,1,7,11
2020-11-25,2,5,1,0,1,1,0,7,5,2,...,4,1,1,1,3,1,1,0,8,0
2020-11-26,0,28,0,2,2,0,0,7,0,0,...,0,0,0,3,0,0,0,0,2,0
2020-11-27,4,11,1,0,0,0,1,1,1,2,...,17,0,0,1,7,3,0,0,1,24
2020-11-28,1,8,1,1,8,0,2,5,0,0,...,14,0,0,0,24,0,0,0,0,8

In [1132]:
covid_19_deaths_by_rally.tail()

,"Tulsa, Oklahoma, US","Maricopa, Arizona, US","Blue Earth, Minnesota, US","Winnebago, Wisconsin, US","Yuma, Arizona, US","Lackawanna, Pennsylvania, US","Rockingham, New Hampshire, US","Westmoreland, Pennsylvania, US","Forsyth, North Carolina, US","Saginaw, Michigan, US",...,"Macomb, Michigan, US","Dubuque, Iowa, US","Catawba, North Carolina, US","Floyd, Georgia, US","Miami-Dade, Florida, US","Cumberland, North Carolina, US","Lackawanna, Pennsylvania, US","Grand Traverse, Michigan, US","Kenosha, Wisconsin, US","Kent, Michigan, US"
2020-11-24,258,3922,11,108,377,230,105,172,158,221,...,1232,90,84,77,3789,111,230,19,134,312
2020-11-25,260,3927,12,108,378,231,105,179,163,223,...,1236,91,85,78,3792,112,231,19,142,312
2020-11-26,260,3955,12,110,380,231,105,186,163,223,...,1236,91,85,81,3792,112,231,19,144,312
2020-11-27,264,3966,13,110,380,231,106,187,164,225,...,1253,91,85,82,3799,115,231,19,145,336
2020-11-28,265,3974,14,111,388,231,108,192,164,225,...,1267,91,85,82,3823,115,231,19,145,344

In [1133]:
covid_19_deaths_by_rally.loc[ trump_rallies.loc[ 2, 'Date'], trump_rallies.loc[ 2, 'Combined_Key'] ]

5.0

In [1134]:
covid_19_deaths_by_rally.loc[ :, trump_rallies.loc[ 2, 'Combined_Key'] ].max()

14.0

In [1135]:
time_interval = datetime.timedelta( days = 28 )

rally_date_str = trump_rallies.loc[ 2, 'Date']

before_date_str = ( my_date.fromisoformat( rally_date_str ) - time_interval ).isoformat()
after_date_str = ( my_date.fromisoformat( rally_date_str ) + time_interval ).isoformat()

Deaths each day for the 28 days prior to Trump's rally.

In [1136]:
covid_19_deaths_by_rally_no_accumulate.loc[ :, trump_rallies.loc[ 2, 'Combined_Key'] ].loc[ before_date_str:rally_date_str ].sum()

3.0

In [1137]:
def deaths_prior( row ):
    time_interval = datetime.timedelta( days = 28 )
    rally_date_str = row[ 'Date'] 
    before_date_str = ( my_date.fromisoformat( rally_date_str ) - time_interval ).isoformat()
    after_date_str = ( my_date.fromisoformat( rally_date_str ) + time_interval ).isoformat()
    return( covid_19_deaths_by_rally_no_accumulate.loc[ :, row[ 'Combined_Key' ] ].loc[ before_date_str:rally_date_str ].sum() )

trump_rallies.apply( deaths_prior, axis = 1 )

0                 25
1     [278.0, 278.0]
2                  3
3                  7
4                111
           ...
62      [20.0, 20.0]
63        [3.0, 3.0]
64                 5
65                29
66                14
Length: 67, dtype: object

Deaths each day for the 28 days after Trump's rally.

In [1075]:
covid_19_deaths_by_rally_no_accumulate.loc[ :, trump_rallies.loc[ 2, 'Combined_Key'] ].loc[ rally_date_str:after_date_str ].sum()

0.0

In [1139]:
covid_19_deaths_by_rally_no_accumulate.columns

Index(['Tulsa, Oklahoma, US', 'Maricopa, Arizona, US',
       'Blue Earth, Minnesota, US', 'Winnebago, Wisconsin, US',
       'Yuma, Arizona, US', 'Lackawanna, Pennsylvania, US',
       'Rockingham, New Hampshire, US', 'Westmoreland, Pennsylvania, US',
       'Forsyth, North Carolina, US', 'Saginaw, Michigan, US',
       'Douglas, Nevada, US', 'Clark, Nevada, US', 'Marathon, Wisconsin, US',
       'Beltrami, Minnesota, US', 'Cumberland, North Carolina, US',
       'Montgomery, Ohio, US', 'Fulton, Ohio, US',
       'Allegheny, Pennsylvania, US', 'Duval, Florida, US',
       'Newport New, Virginia, US', 'Dauphin, Pennsylvania, US',
       'St. Louis, Minnesota, US', 'Seminole, Florida, US',
       'Cambria, Pennsylvania, US', 'Polk, Iowa, US',
       'Pitt, North Carolina, US', 'Marion, Florida, US', 'Bibb, Georgia, US',
       'Muskegon, Michigan, US', 'Rock, Wisconsin, US',
       'Carson Cit, Nevada, US', 'Yavapai, Arizona, US', 'Pima, Arizona, US',
       'Erie, Pennsylvania, US', 'Gaston, North Carolina, US',
       'Sumpter, Florida, US', 'Escambia, Florida, US',
       'Robeson, North Carolina, US', 'Pickaway, Ohio, US',
       'Waukesha, Wisconsin, US', 'Hillsborough, New Hampshire, US',
       'Lehigh, Pennsylvania, US', 'Lancaster, Pennsylvania, US',
       'Blair, Pennsylvania, US', 'Ingham, Michigan, US',
       'La Crosse, Wisconsin, US', 'Douglas, Nebraska, US',
       'Mohave, Arizona, US', 'Maricopa, Arizona, US',
       'Hillsborough, Florida, US', 'Oakland, Michigan, US',
       'Brown, Wisconsin, US', 'Olmsted, Minnesota, US',
       'Bucks, Pennsylvania, US', 'Berks, Pennsylvania, US',
       'Butler, Pennsylvania, US', 'Lycoming, Pennsylvania, US',
       'Macomb, Michigan, US', 'Dubuque, Iowa, US',
       'Catawba, North Carolina, US', 'Floyd, Georgia, US',
       'Miami-Dade, Florida, US', 'Cumberland, North Carolina, US',
       'Lackawanna, Pennsylvania, US', 'Grand Traverse, Michigan, US',
       'Kenosha, Wisconsin, US', 'Kent, Michigan, US'],
      dtype='object', name='')

In [1141]:
len( covid_19_deaths_by_rally_no_accumulate.columns )

67

In [1143]:
len( covid_19_deaths_by_rally_no_accumulate.columns.unique() )

64

### --- END --- ###